/*Background Elements*/
/* Moving background Section */
body {
    background-image: url("/Bits&Pieces/assets/images/bits&piecesBG.png");
    background-size: 150px 150px;
}
.menuBar1{
  display: block;
  background:#a2bffe; /*Gradient background*/
  min-height: 250px;
  min-width: 100%;
  z-index: 0;
  clip-path: polygon(0 20%, 100% 65%, 100% 85%, 0 40%);
  position: absolute; /* instead of fixed */
  margin-top: 25%;
  top: 0;
  left: 0;
}

.menuBar2{
clip-path: polygon(0 60%, 100% 40%, 100% 60%, 0 80%);
 display: block;
  background: #c7d9ff;                  
  min-height: 250px;
  min-width: 100%;
  z-index: 0;
  position: absolute; /* instead of fixed */
  margin-top: 25%;
  top: 0;
  left: 0;
}

.mainDiv{
position: relative;
 left: 10%;
 width: 80%;
 display: flex;
 flex: none;
 flex-direction: column;
 background-color:#f9f9f9;
}

#logostyle {
  max-width: 50%;   /* keeps logo small */
  height: auto;
  display: block;
  margin: 40px auto 20px auto; /* centers and adds top gap */
  z-index: 3;
  position: relative;
}

.content {
 font-size: 20px;
 text-align: center;
 display: flex;
 align-items: center;
 flex-direction: row;   
 border-radius: 12px;
 z-index: 1;
 font-family: Nexalight;
 padding: 5%;
}

.galleryDiv{
  position: relative;
  margin: 0 auto;
}

.galleryDiv img {
  margin: 5%;
}


.socials{
margin: 5%;
display: flex;
justify-content: center;
align-items: center;
}

#iconimage{
  display: block;
  border-radius: 10px;
  height: 11%;
  width: 6%;
  object-fit: contain;
  transition-duration: 0.3s;
  padding-left: 2%;
  padding-right: 2%;
  color: #a2bffe;
}

#laceLeft {
  position: fixed;
  top: 0;
  left: 0;
  width: 10%;
  height: 100vh; /* full viewport height */
  background-image: url("/Bits&Pieces/assets/images/laceLeft.png");
  background-repeat: repeat-y; /* 👈 repeat vertically */
  background-size: contain; /* scales nicely */
  z-index: 2;
  
}

#laceRight {
  position: fixed;
  top: 0;
  right: 0;
  width: 10%;
  height: 100vh;
  background-image: url("/Bits&Pieces/assets/images/laceRight.png");
  background-repeat: repeat-y;
  background-size: contain;
  background-position: right top; /* 👈 keeps it perfectly aligned */
  z-index: 2;
}

@keyframes scrollBackground {
    from {
        background-position: 0 0;
    }
    to {
        background-position: 0% 100%;
    }
}